DUO_AUTH_PRIVATE_KEY_PATH="keys/ed25519"
DUO_AUTH_PUBLIC_KEY_PATH="keys/ed25519.pub"

POSTGRES_HOST="127.0.0.1"
POSTGRES_PORT="25432"
POSTGRES_DB="duo_auth"
POSTGRES_USER="duo_auth"
POSTGRES_PASSWORD="strongpassword"

DUO_AUTH_DB_POOL_SIZE=5
DUO_AUTH_DB_MAX_OVERFLOW=2

DUO_AUTH_SENTRY_DSN=

DUO_AUTH_OTEL_URL='localhost:4317'
