# API
DUO_API_DEBUG=false

DUO_ALLOWED_ORIGINS=["http://localhost:8000"]
DUO_API_REDIS_DSN=redis://localhost:6379

DUO_AUTH_SERVICE_URL=localhost:50051
DUO_GAME_SERVICE_URL=localhost:50052

DUO_API_PUBLIC_KEY_PATH=/keys/ed25519.pub
API_KEY_PATH=/opt/duo/keys/api/

GUNICORN_BIND=unix:/opt/duo/app.sock


# Auth
DUO_AUTH_SERVER_URL=0.0.0.0:50051

DUO_AUTH_PRIVATE_KEY_PATH=/keys/ed25519
DUO_AUTH_PUBLIC_KEY_PATH=/keys/ed25519.pub
AUTH_KEY_PATH=/opt/duo/keys/auth/

AUTH_POSTGRES_HOST=localhost
AUTH_POSTGRES_PORT=5432
AUTH_POSTGRES_DB=duo_auth
AUTH_POSTGRES_USER=duo_auth
AUTH_POSTGRES_PASSWORD=

DUO_AUTH_DB_POOL_SIZE=5
DUO_AUTH_DB_MAX_OVERFLOW=2


# Game
DUO_GAME_SERVER_URL=0.0.0.0:50052

DUO_GAME_PUBLIC_KEY_PATH=/keys/ed25519.pub
GAME_KEY_PATH=/opt/duo/keys/game/

GAME_POSTGRES_HOST=localhost
GAME_POSTGRES_PORT=5432
GAME_POSTGRES_DB=duo_game
GAME_POSTGRES_USER=duo_game
GAME_POSTGRES_PASSWORD=

DUO_GAME_DB_POOL_SIZE=5
DUO_GAME_DB_MAX_OVERFLOW=2
