POSTGRES_HOST="127.0.0.1"
POSTGRES_PORT="25433"
POSTGRES_DB="duo_game"
POSTGRES_USER="duo_game"
POSTGRES_PASSWORD="strongpassword"

DUO_GAME_DB_POOL_SIZE=5
DUO_GAME_DB_MAX_OVERFLOW=2

DUO_GAME_PUBLIC_KEY_PATH="keys/ed25519.pub"

DUO_GAME_SENTRY_DSN=

DUO_GAME_OTEL_URL='localhost:4317'
