DUO_DEBUG=true

DUO_API_DEBUG=true
DUO_ALLOWED_ORIGINS='["http://localhost:5173"]'

DUO_AUTH_SERVICE_URL='localhost:50051'
DUO_GAME_SERVICE_URL='localhost:50052'

DUO_API_PUBLIC_KEY_PATH="keys/ed25519.pub"

DUO_API_REDIS_DSN="redis://localhost:6379"
